{% extends "template/default.html" %}

{% block title %}
{{ include(template_from_string(lang.login)) }}
{% endblock %}

{% block header %}
{% endblock %}

{% block sidebar_nav %}
{% endblock %}

{% block top_nav %}
{% endblock %}

{% block content %}
<div class="col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>{{ include(template_from_string(lang.users)) }}</h4>
		</div>
		<div class="panel-body">
			<div class="col-sm-12">
				{{ include('partials/form_login.html') }}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
