<!-- Header -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>{{ main_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ base_url() }}/backend/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/backend/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

{% block header %}
<!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path_for('home') }}">{{ main_title }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path_for('logout') }}" target="_self">
                    <i class="glyphicon glyphicon-lock"></i> {{ include(template_from_string(lang.logout)) }}, {{ auth_username }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Header -->
{% endblock %}

<div class="container-fluid">
    <div class="row content">

        {% block sidebar_nav %}
        <!-- Sidebar Navigation -->
        <div class="col-sm-3">
            <strong><i class="glyphicon glyphicon-cog"></i> Navigation</strong>

            <hr>

            <ul class="nav nav-stacked">
                <li><a href="{{ path_for('settings') }}">{{ include(template_from_string(lang.settings)) }}</a></li>
                <li><a href="{{ path_for('users') }}">{{ include(template_from_string(lang.users)) }}</a></li>
                <li><a href="{{ path_for('categories') }}">{{ include(template_from_string(lang.categories)) }}</a></li>
                <li><a href="{{ path_for('posts') }}">{{ include(template_from_string(lang.posts)) }}</a></li>
            </ul>

            <hr>
        </div>
        <!-- /Sidebar Navigation -->
        {% endblock %}


        <div class="col-sm-9">

            {% block top_nav %}
            <!-- Top Navigation -->
            <strong><i class="glyphicon glyphicon-menu-right"></i> {{ nav_title }}</strong>
            <hr>
            <!-- /Top Navigation -->
            {% endblock %}

            <!-- Content -->
            <div class="row">
                {% block global_messages %}
                <!-- Information messages -->
                <div class="col-sm-12">
                    {% if flash.getMessage('errors')  is not empty %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in flash.getMessage('errors')[0] %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="col-sm-12">
                    {% if flash.getMessage('success') is not empty %}
                    <div class="alert alert-success">
                        <p>{{ flash.getMessage('success').0 }}</p>
                    </div>
                    {% endif %}
                </div>
                <!-- /Information messages -->
                {% endblock %}

                <!-- Main Content -->
                {% block content %}
                {% endblock %}
                <!-- /Main Content -->
            </div>
            <!-- Content -->

        </div>
    </div>
</div>

{% block footer %}
<!-- Footer -->
<footer class="navbar-fixed-bottom row-fluid text-center">
    {{ include(template_from_string(lang.footer)) }}
</footer>
{% endblock %}

<script src='{{ base_url() }}/backend/js/jquery.js' type="text/javascript"></script>
<script src="{{ base_url() }}/backend/js/bootstrap.min.js"></script>
<script src="{{ base_url() }}/backend/js/scripts.js"></script>

{% block scripts %}
{% endblock %}

</body>
</html>